<launch>
 <node pkg="ros_exercises" name="open_space_publisher" type="open_space_publisher.py">
  <param name="pub_topic" value="open_space"/>
  <param name="sub_topic" value="fake_scan"/>
  </node>
 <node pkg="ros_exercises" name="fake_scan_publisher" type="fake_scan_publisher.py">
    <rosparam>
      topic: fake_scan
      rate: 20
      angle_min: -2.094
      angle_max: 2.094
      range_min: 1.0
      range_max: 10.0
      angle_increment: 0.01
    </rosparam>
  </node>
 <node pkg="ros_exercises" name="simple_subscriber" type="simple_subscriber.py" />
 <node pkg="ros_exercises" name="simple_publisher" type="simple_publisher.py" />
</launch>
